@font-face {
  font-family: digit;
  src: url("digital-7_mono.ttf"
      /*tpa=./digital-7_mono.ttf*/
    ) format("truetype");
}

#mainDiv {
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  left:0;
}

#loveHeart {
  float: left;
  width: 670px;
  height: 625px;
}

#garden {
  width: 100%;
  height: 100%;
}

#words {
  font-family: "sans-serif";
  width: 505px;
  font-size: 24px;
  color: #666;
}

#messages{
  display: none;
}

#loveu {
  padding: 5px;
  font-size: 22px;
  margin-top: 80px;
  margin-right: 120px;
  text-align: right;
  display: none;
}

#elapseClock{

  text-align: right;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#elapseClock .digit{

  font-family:"digit";
  font-size: 36px;
}